* {
    box-sizing: border-box;
}

body {
    background-image: url('./img/smoke.jpg');
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    width: auto;
    margin: auto;

}
